* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(113, 113, 203, 1) 0%,
    rgba(128, 218, 236, 1) 76%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(113, 113, 203, 1) 0%,
    rgba(128, 218, 236, 1) 76%
  );
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(113, 113, 203, 1) 0%,
    rgba(128, 218, 236, 1) 76%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#80daec",GradientType=1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(4, 8rem);
  gap: 2rem;
  perspective: 800px;
}

.face,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.back {
  background: white;
  backface-visibility: hidden;
}

.toggleCard {
  transform: rotateY(180deg);
}

.face {
  transform: rotatey(-180deg);
}
